<launch>
    <rosparam command="load" ns="tfd_modules" file="$(find tfd_modules)/config/tfd_modules_params_timeout_5min_nontemporal.yaml" />

  <!-- start executive -->
  <node pkg="continual_planning_executive" type="continual_planning_executive" args="" respawn="false" name="continual_planning_executive" output="screen" >
    <param name="domain_file" value="$(find planner_benchmarks)/modular/tidyup-grasp/domain_modules.pddl" />

    <param name="goal_locations" value="$(find tidyup_grasp_actions)/launch/locations_single.dat" />
    <param name="goal_tolerance" value="0.3" />
    <rosparam command="load" file="$(find tidyup_grasp_actions)/config/tidyup_grasp_actions.yaml" />
    <rosparam command="load" file="$(find tfd_modules)/config/tfdm_interface.yaml" />
    <rosparam param="planner_options">
        - (navstack_init@libplanner_modules_pr2.so /map 0.3)
    </rosparam>
    <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(find planner_modules_pr2)/lib" />
  </node>

</launch>
