<launch>

    <node pkg="actionlib" type="axserver.py" args="/learned_grasping/learned_grasping_action tidyup_msgs/GraspObject" respawn="false" name="grasp_object" output="screen" />
    
    <node pkg="actionlib" type="axserver.py" args="/learned_grasping/post_grasp_position_action tidyup_msgs/PostGraspPosition" respawn="false" name="post_grasp_position" output="screen" />

    <node pkg="fr_tools" type="sxserver.py" args="/tidyup/request_graspable_objects tidyup_msgs/RequestGraspableObjects" respawn="false" name="request_graspable_objects" output="screen" />

</launch>
